@font-face {
    font-family: 'Billie Harley';
    src: url('https://github.com/ssteiert/jubilant-spoon/blob/master/BillieHarley.otf');
    src: url('https://github.com/ssteiert/jubilant-spoon/blob/master/BillieHarley.otf') format('embedded-opentype'),
}

@import url('https://fonts.googleapis.com/css?family=Arimo');

body {
  overflow: hidden;
  background-color: #F1BBBA;
}


p {
  line-height: 1.25;
  font-family: "Arimo";
  font-size: 14pt;
}

a {
  text-decoration: none;
  color: black;
  
}

a:hover {
  opacity: .7;
}

a:visited {
  color: #c67573;
}

.intro {
  text-align: right;
  margin: 6% 12% 0% 0%;
 }

#heart {
  width: 1.5em;
}

#name {
  font-family: 'Billie Harley';
  line-height: .1;
  font-size: 6.25vw;
}




.image {
  width: 50%;
  position: absolute;
  bottom: 0;
  margin: 0% 0% 2% 8%;
    z-index:-3
}
